	
	html,body{font-size: 2.5vw;}
	html {font-family:Verdana, Arial, sans-serif;}
    body {
		background:#000; 
		color:#fff;
		overflow: hidden;
		line-height:1.33;		
		padding:0;		
		margin:0;
	}
	p {margin:0;}
	h1 {font-size: 4.5vw; margin-top:1vw; margin-bottom:1vw;font-weight: bold;}
	h3 {
		font-size: 1.33em;
		margin-top: 0.7em;
		margin-bottom: 0.2em;
	}
	
	.card {background:#000;}
	td {font-weight:bold;}
	td span.n {
		font-weight: normal;
		font-style: italic;
	}	
	
	th {background: #222;text-align:center;}
	th:nth-child(2) {background: #000;}
	
	table {
		color: #000;
		background-color: #fff!important;
	}
	td,th,thead th {
		border-color: #ccc!important;
		
		vertical-align: top!important;
		border-top: 1px solid #dee2e6!important;
	}
	th {background: #e8e8e8!important;}
	th:nth-child(2) {background: #f0f0f0!important;}	
		
	.table td, .table th {
		padding: 0.4vh 1vw 0.4vh 1vw;
		vertical-align: top;
	}	

	table,td,th {
		font-size:1.2rem!important;
	}



/*Bootstrap*/
.container-fluid {
    width: 100%;
    padding-right: 1vw;
    padding-left: 1vw;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
	position: relative;
}
.table {
    width: 100%;
    margin-bottom: 1em;
}
/*Bootstrap*/
#extraTAB {text-align:center;}
#debug {display:none;font-size:10px; position:absolute;bottom:10px; left:10px; color:white; background:DodgerBlue;padding:4px 8px;}
	p.adres, #informacje span{margin-top:1.33vw;}
	
	span#czas,span#pogoda {
		display: block;
		clear: both;
		text-align: right;
	}	
	span#pogoda {
		font-size: 0.90em;
		margin-top: 0.8em;
		display: inline-block;
	}
	



#planTV {font-size:0.9em;line-height:1.4;}	

/*
.lekcja {
    position: relative;
	display: inline-block;
    width: 19.3%;
    height: 4em;
    margin: 0.03rem;
    padding: 0.05rem;
    background: #fff;
    color: black;
    overflow: hidden;
    line-height: 1.31em;
	
}
*/
.lekcja {
    position: relative;
    display: inline-block;
    width: 19.55%;
    height: 4em;
    margin: 0.2em;
    padding: 0.1em;
    background: #fff;
    color: black;
    overflow: hidden;
    line-height: 1.31em;
}
.godzina {background:#eee;position: relative;}
p.sala {
	line-height: 1.0em;
    font-size: 1.5em;
    position: absolute;
    top: 0.6em;
    left: -1.5em;
    height: 1.6em;
    width: 4.55em;
    padding: 0.175em;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    text-align: center;
    font-weight: normal;
    background: #444;
    color: #fff;
}

p.grupa {
    font-size: 1em;
    font-weight: bold;
}
p.grupa, p.opis {
    margin-left: 3em;
}
p.opis {
    line-height: 1.233em!important;
    padding-top: 0!important;
    margin-top: 0!important;
}
.p0 {background: #F5F5DC !important;color: black !important;}
.p1 {background: #8a00c1 !important;color: white !important;}
.p2 {background: #1919FF !important;color: white !important;}
.p3 {background: #f8ed62 !important;color: black !important;}

.blask {
  -webkit-animation: 	redblink 3s infinite;  /* Safari 4+ */
  -moz-animation: 		redblink 3s infinite;  /* Fx 5+ */
  -o-animation: 		redblink 3s infinite;  /* Opera 12+ */
  animation: 			redblink 3s infinite;  /* IE 10+, Fx 29+ */
}
@keyframes redblink {
	0%		{background-color: #004;}
	50%		{background-color: #137;}
	100%	{background-color: #004;}
}

.slide {width:100%;margin-bottom:1em; background:#eee;color:#333;}
.slide img{width:100%;}
button {
    font-size: 0.5rem!important;
    padding: 0.25rem!important;
    margin: 0.25rem!important;
}


h1 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

h3 {
    font-size: 2.33em;
    margin-top: 0.7em;
    margin-bottom: 0.2em;
}

#planTV {
	font-size: 0.36rem;
}



.row.kom {
    margin: 0;
    width: max-content;
}
#komunikat span {
    margin-right: 1em;
    background: #282828;
    padding: 0.1em 0.5em;
}

#komunikat {
    display: none;
    /*width: max-content;*/
    width: fit-content;
	
    font-size: 0.9em;
    line-height: 1.3em;
    height: 1.3em;
    /*overflow: hidden;*/
	animation-iteration-count: infinite;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
}


#komunikat {
	animation-duration: 45s;
	animation-name: slideKom;
}
@keyframes slideKom {
  0% {transform:translateX(0%);}
  10% {transform:translateX(0%);}
  95%{transform:translateX(-90%);}
  100%{transform:translateX(0%);}
}
@keyframes scroll-left {
 0%   {transform: translateX(100%);}
 100% {transform: translateX(-100%);}
}

/*
@keyframes left-one {
  0%  {transform:translateX(100%);}
  10% {transform:translateX(0);}
  40% {transform:translateX(0);}
  50% {transform:translateX(-100%);}
  100%{transform:translateX(-100%);}
}
@keyframes left-two {
  0% {transform:translateX(100%);}
  50% {transform:translateX(100%);}
  60% {transform:translateX(0);}
  90% {transform:translateX(0);}
  100%{transform:translateX(-100%);}
}
*/
/*
@keyframes slideKom {
	from {margin-left: 0vw;}
	to   {margin-left: -480vw;}
}
*/



/*DARK*/
table {
    color: #fff;
    background-color: #181818!important;
	border:none;
}

th {
	background: #181818!important;
	color: #fff!important;
	border:none;
}
table,tr,td,th {border-color:black!important;}
th:nth-child(2) {background: #303030!important;}
th:nth-child(3) {background: #181818!important;}


.godzina {background: #111;}




.no{color:inherit;}
.up{color:orange;}
.down{color:#48f;}

/*Slideshows*/

.zut {background:#2D572C;}
.wi  {background:#126;}


#wladzePAD {width:25vw;z-index:99;opacity:0.88; padding:1vw 2vw; position:fixed; bottom:5vw; left:5vw;text-align:center; font-size:0.25em;}
#wladze {padding:1%;}
#wladze img {width:100%; vertical-align:top;}
#wladze h3 {padding:0 0 0.5rem 0}

/*
#wladze img {animation-duration: 2s;animation-name: imgimg;}
@keyframes imgimg {
	0%    {opacity:0.5;}
	30%   {opacity:1.0;}
	70%   {opacity:1.0;}
	100%  {opacity:0.5;}
}
*/

.anima0,.anima1,.anima2,.anima3,.anima {display:fixed;animation-iteration-count: infinite;animation-duration: 20s;animation-timing-function:linear;}

.anima {animation-name: slidein;}
@keyframes slidein {
	0%    {margin-bottom: 3vh; margin-left:  66vw; transform: scale(1.1); opacity:1.0;}
	50%   {margin-bottom: 3vh; margin-left:  2vw;  transform: scale(1.0); opacity:1.0;}
	100%  {margin-bottom: 3vh; margin-left: 2vw;  transform: scale(0.5); opacity:0.1;}
}

.anima0 {animation-name: slidein0;}
@keyframes slidein0 {from {margin-left: 5vw;transform: scale(1.0);opacity:1.0;}to {margin-left: 80vw;transform: scale(0.3);opacity:0.0;}}


.anima1 {animation-name: slidein1;}
@keyframes slidein1 {from {margin-left: 70vw;transform: scale(1.1);opacity:1.0;}to {margin-left: 5vw;transform: scale(0.6);opacity:0;}}


.anima2 {animation-name: slidein2;}
@keyframes slidein2 {from {margin-bottom: 0vh;transform: scale(1.0);opacity:1.0;}to {margin-bottom: 70vh;transform: scale(0.5);opacity:0.0;}}


.anima3 {animation-name: slidein3;}
@keyframes slidein3 {from {margin-bottom: 70vh;transform: scale(1.0);opacity:1.0;}to {margin-bottom: 0vh;transform: scale(0.5);opacity:0.0;}}



/*SliseShow*/
#slideshowPAD  {/*width:100vw; max-width:60vh; position:relative;margin:auto;*/text-align:center; margin-top:5vh; }
#slideshow     {/*padding:5vh 2vw; max-width:60vh; margin:auto;*/}
#slideshow img {} /*height: -webkit-fill-available;*/

.animaIMG-0 {animation-name: slideIMG-0; animation-iteration-count: 1;animation-duration: 10s;animation-timing-function:ease-in;}
@keyframes slideIMG-0 {
  0%   {transform:scale(0.1); filter: grayscale(100%); opacity:0.1;}
  10%  {transform:scale(1.0); filter: grayscale(0%);   opacity:1.0;}
  90%  {transform:scale(1.0); filter: grayscale(0%);   opacity:1.0;}
  100% {transform:scale(0.1); filter: grayscale(100%); opacity:0.1;}
}

.animaIMG-1 {animation-name: slideIMG-1; animation-iteration-count: 1;animation-duration: 10s;animation-timing-function:ease-in;}
@keyframes slideIMG-1 {
  0%   {transform: scale(1)  rotate3d(1, 0, 0, 90deg); grayscale(100%);}
  10%  {transform: scale(1)  rotate3d(1, 0, 0, 0deg);  grayscale(0%);}
  90%  {transform: scale(1)  rotate3d(1, 0, 0, 0deg);  grayscale(0%);}
  100% {transform: scale(1)  rotate3d(1, 0, 0, 90deg); grayscale(100%);}
}


.animaIMG-2 {animation-name: slideIMG-2; animation-iteration-count: 1;animation-duration: 10s;animation-timing-function:ease-in;}
@keyframes slideIMG-2 {
  0%   {transform: scale(1)  rotate3d(0, 1, 0, 90deg); grayscale(100%);}
  10%  {transform: scale(1)  rotate3d(0, 1, 0, 0deg);  grayscale(0%);}
  90%  {transform: scale(1)  rotate3d(0, 1, 0, 0deg);  grayscale(0%);}
  100% {transform: scale(1)  rotate3d(0, 1, 0, 90deg); grayscale(100%);}
}

.animaIMG-3 {animation-name: slideIMG-3; animation-iteration-count: 1;animation-duration: 10s;animation-timing-function:ease-in;}
@keyframes slideIMG-3 {
  0%   {transform: scale(1)  rotate3d(1, 1, 0, 90deg); grayscale(100%);}
  10%  {transform: scale(1)  rotate3d(1, 1, 0, 0deg);  grayscale(0%);}
  90%  {transform: scale(1)  rotate3d(1, 1, 0, 0deg);  grayscale(0%);}
  100% {transform: scale(1)  rotate3d(1, 1, 0, 90deg); grayscale(100%);}
}
/*wariacja*/
.animaIMG-4 {animation-name: slideIMG-4; animation-iteration-count: 1;animation-duration: 10s;animation-timing-function:ease-in;}
@keyframes slideIMG-4 {
  0%   {transform: scale(1)  rotate3d(-1, 1, 0, 90deg); grayscale(100%);}
  10%  {transform: scale(1)  rotate3d(-1, 1, 0, 0deg);  grayscale(0%);}
  90%  {transform: scale(1)  rotate3d(-1, 1, 0, 0deg);  grayscale(0%);}
  100% {transform: scale(1)  rotate3d(-1, 1, 0, 90deg); grayscale(100%);}
}

.animaIMG-5 {animation-name: slideIMG-5; animation-iteration-count: 1;animation-duration: 10s;animation-timing-function:ease-in;}
@keyframes slideIMG-5 {
  0%   {transform: scale(1)  rotate3d(1, -1, 0, 90deg); grayscale(100%);}
  10%  {transform: scale(1)  rotate3d(1, -1, 0, 0deg);  grayscale(0%);}
  90%  {transform: scale(1)  rotate3d(1, -1, 0, 0deg);  grayscale(0%);}
  100% {transform: scale(1)  rotate3d(1, -1, 0, 90deg); grayscale(100%);}
}
.animaIMG-6 {animation-name: slideIMG-6; animation-iteration-count: 1;animation-duration: 10s;animation-timing-function:ease-in;}
@keyframes slideIMG-6 {
  0%   {transform: scale(1)  rotate3d(-1, -1, 0, 90deg); grayscale(100%);}
  10%  {transform: scale(1)  rotate3d(-1, -1, 0, 0deg);  grayscale(0%);}
  90%  {transform: scale(1)  rotate3d(-1, -1, 0, 0deg);  grayscale(0%);}
  100% {transform: scale(1)  rotate3d(-1, -1, 0, 90deg); grayscale(100%);}
}



